/******************************/
/* HEADER */
/******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #1a0c1b, #47646d, #630d0d);

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 12.4rem;
  padding-top: 2.4rem;
  cursor: pointer;
}

/******************************/
/* NAVIGATION */
/******************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #edf2ff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.signin:hover,
.signin:active {
  color: #ff7d4d;
  /* color: #ffbe33; */
}

/* .navbtn--signin:link,
.navbtn--signin:visited {
  border: 3px solid #a54141;
} */

.navbtn--signin:hover,
.navbtn--signin:active {
  background-color: #b05959;

  /* transition: all 0.1s; */
}

.navbtn--outline:link,
.navbtn--outline:visited {
  border: 3px solid #edf2ff;
}

.navbtn--outline:hover,
.navbtn--outline:active {
  background-color: #b05959;
}

.navbtn--full:link,
.navbtn--full:visited {
  background-color: #47646d;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.navbtn--full:hover,
.navbtn--full:active {
  background-color: #6c838a;
  box-shadow: 0 0 0 3px #edf2ff;
  /* transition: all 0.1s; */
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #edf2ff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/******************************/
/* HERO SECTION */
/******************************/

.section-hero {
  /* background-color: #071e33; */
  background: linear-gradient(to right, #1a0c1b, #47646d, #630d0d);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  /* font-family: "Merienda", sans-serif; */
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.host {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.host-img img {
  height: 8.6rem;
  width: 8.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.host-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.host-text span {
  color: #b05959;
  font-weight: 700;
}

/******************************/
/* FEATURED IN SECTION */
/******************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
  background: linear-gradient(to right, #d1ced1, #c8d1d3, #d0b6b6);
}

.heading-featured-in {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #333;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logos img {
  height: 8rem;
}

/******************************/
/* GUITAR COVERS SECTION */
/******************************/

.section-guitar-covers {
  padding: 9.6rem 0;
  background: linear-gradient(to right, #d1ced1, #c8d1d3, #d0b6b6);
}

.step-details {
  display: flex;
  align-items: center;
  /* position: relative; */
  /* justify-content: space-between; */
  gap: 14.6rem;
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #47646d;
}

.step-video-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-video {
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.heading-step-1 {
  background: -webkit-linear-gradient(#030303, #d14403fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.step-video-1 {
  filter: drop-shadow(16px 16px 41px rgb(156, 77, 12));
}

.step-video-2 {
  width: 100%;
  filter: drop-shadow(16px 16px 41px rgb(54, 8, 60));
}

.step-video-3 {
  /* filter: drop-shadow(16px 16px 41px rgb(174, 132, 26)); */
  filter: drop-shadow(16px 16px 41px rgb(13, 61, 21));
}

.step-video-4 {
  filter: grayscale(100%);
}

.step-video-5 {
  filter: drop-shadow(16px 16px 41px rgb(60, 8, 8));
}

.heading-step-2 {
  /* color: #ab05b1cc; */
  background: -webkit-linear-gradient(#0095af, #e220d8, #140442);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-step-4 {
  background: -webkit-linear-gradient(#1a0c1b, #47646d, #630d0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-step-5 {
  background: -webkit-linear-gradient(#1a0c1b, #741818, #c40303);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.band-logo {
  height: 9.6rem;
  border-radius: 15px;
}

/* .section-guitar-covers .grid {
  align-items: center;
} */

/******************************/
/* EQUIPMENT SECTION */
/******************************/

.section-equipment {
  padding: 9.6rem 0;
  /* background: linear-gradient(to right, #d1ced1, #c8d1d3, #d0b6b6); */
}

.equipment {
  transition: all 0.4s;
}

.equipment:hover {
  transform: translateY(-1.2rem);
}

.equipment-title {
  font-size: 2rem;
  /* text-align: center; */
  color: #333;
  font-weight: 700;
}

.equipment-img {
  height: 30rem;
  width: 50rem;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.75);
  /* filter: drop-shadow(16px 16px 41px rgb(156, 77, 12)); */
}

/******************************/
/* GALLERY SECTION */
/******************************/

.section-gallery {
  padding: 2.4rem 0;
  background: linear-gradient(to right, #d1ced1, #c8d1d3, #d0b6b6);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/******************************/
/* CTA SECTION */
/******************************/

.section-cta {
  padding: 9.6rem 0;
  background: linear-gradient(to right, #d1ced1, #c8d1d3, #d0b6b6);
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right, #800101, rgb(1, 1, 20));
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #e6cccc;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta .heading-secondary {
  color: #e6cccc;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right,
      rgba(128, 1, 1, 0.35),
      rgba(1, 1, 20, 0.35)
    ),
    url("../img/gnr cta.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #777;
  border: none;
  background-color: #f2e6e6;
  border-radius: 9px;
}

.cta-form input::placeholder {
  color: #777;
}

/******************************/
/* FOOTER */
/******************************/

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #a9a9a9;
  /* background: linear-gradient(to right, #d1ced1, #c8d1d3, #d0b6b6); */
  /* background: linear-gradient(to right, #1a0c1b, #47646d, #630d0d); */
  /* font-family: "Merienda", sans-serif; */
  font-family: "Rubik", sans-serif;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #777;
  margin-top: auto;
  text-align: center;
  margin-top: 1.6rem;
  /* font-family: sans-serif; */
}

.footer-heading {
  font-size: 1.8rem;
  /* font-family: sans-serif; */
  font-weight: 600;
  margin-bottom: 4rem;
  color: #555;
}

.contact {
  color: #767676;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  /* font-family: sans-serif; */
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
